# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code
.vscode

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
# Exclude all build outputs for Flutter and Dart
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android related
android/app/debug
android/app/profile
android/app/release
android/.gradle/
android/app/build/
android/local.properties

# iOS related
ios/Flutter/.last_build_id
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Pods/
ios/Flutter/ephemeral/

# macOS related
macos/Flutter/ephemeral/
macos/.dart_tool/

# Windows related
windows/flutter/ephemeral/
windows/.dart_tool/

# Web build output
web/.dart_tool/

# Environment configuration
.env